.image-1{
    background-image:　url(https://raw.githubusercontent.com/Japanese-Scratcher/Japanese-Scratcher.github.io/main/%E5%A3%81%E7%B4%99.jpg);             /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */              
    width:auto;                                   /* 横幅のサイズを指定    */
    height:400pX;                                 /* 縦幅のサイズを指定    */
}
