.image-1{
      text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid px;      /* 枠線指定 */

  
  background-image: url(https://raw.githubusercontent.com/Japanese-Scratcher/Japanese-Scratcher.github.io/main/%E5%A4%95%E7%84%BC%E3%81%91.jpeg);     /* 背景画像指定 */
    background-repeat:  no-repeat;          /* 背景の繰り返し設定 */
      background-size: cover;

}
* {
  margin:0; padding:0;
}
header {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #337079;
  color: white;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
